<div class="l-header">
    <div class="logo">
        <img src="../images/header-logo-large.png" width="144" height="35">
    </div>
    <ul class="m-header-menu">
        <li><a href="#" class="">SERIER</a></li>
        <li><a href="#" class="active">FILM</a></li>
        <li><a href="#" class="">BARN</a></li>
        <li><a href="#" class="">HYRBUTIK</a></li>
    </ul>
    <div class="m-userinfo">
        <span class="username"><a href="#">John Doe <img src="../images/down-arrow.png" width="13"></a></span>
        <img src="../images/search.png" width="30" class="search">
        <!-- <span class="glyphicon glyphicon-search">SEARCH</span> -->
    </div>
</div>

<div class="l-contents">
    <div class="m-video">
    <img src="<%= Poster %>" class="btn-play">
    </div>
    <div class="m-video-details">
        <h2><%= Title %></h2>
        <h4><%= Genre %> | <%= Year %> |</h4>
        <h4><%= Runtime %></h4>
        <span class="imdb">
            IMDB <b><%= imdbRating %></b> från <%= imdbVotes %> anvadare
        </span><br><br>
        <p class="description">
            <%= Plot %>
        </p>
        <span class="actors-list"><b>Actors: </b><%= Actors %></span><br>
        <span class="director"><b>Director: </b><%= Director %></span><br>
        <span class="land"><b>Land: </b><%= Country %></span><br>
        <span class="trailer"><b>Trailer: </b><a href="<%= Clip %>" target="_blank">Tailer</a></span>
<!--
        <span>HD</span>
        <span>15</span>
-->
        <span class="rate"></span>
    </div>
</div>

<div class="l-footer">
   <span class="m-footer-icon cols">
        <img src="../images/footer_logo_on_light.png" width="100">
        <!-- <h3>viaplay</h3> -->
   </span>
   <div class="cols">
        <h5>VIAPLAY</h5>
        <ul>
            <li><a href="#">Serie</a></li>
            <li><a href="#">Film</a></li>
            <li><a href="#">Sport</a></li>
            <li><a href="#">Barn</a></li>
            <li><a href="#">Hyrbutik</a></li>
        </ul>
    </div>
    <div class="cols">
        <h5>OM OSS</h5>
        <ul>
            <li><a href="#">Press</a></li>
            <li><a href="#">Jobb</a></li>
        </ul>
        <h5>VIASAT-KUNDER</h5>
        <ul>
            <li><a href="#">Viaplay ingår</a></li>
        </ul>

    </div>
    <div class="cols">
        <h5>INFORMATION</h5>
        <ul>
            <li><a href="#">Kontakt</a></li>
            <li><a href="#">Vanliga fragor</a></li>
            <li><a href="#">Våra plattformar</a></li>
            <li><a href="#">Systemkrav</a></li>
            <li><a href="#">Allmänna villkor</a></li>
            <li><a href="#">Sekretesspolicy</a></li>
            <li><a href="#">Cookies</a></li>
        </ul>
    </div>
    <div class="cols">
        <h5>FÖLJ OSS</h5>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Blogg</a></li>
        </ul>
    </div>
    <div class="cols">
        <h5>TV</h5>
        <ul>
            <li><a href="#">TV3</a></li>
            <li><a href="#">TV10</a></li>
            <li><a href="#">TV6</a></li>
            <li><a href="#">Viasat Film</a></li>
        </ul>
    </div>

</div>
