.l-contents {
    padding: 0px 50px;
    margin-top: 45px;

    .m-video {
        display: inline-block;
        margin-right: 20px;
    }

    .m-video-details {
        width: 40%;
        display: inline-block;
        vertical-align: top;
        // margin-top: 20px;
    }
}

