/**
 * ----------------------------------------------------------------------------------------
 * style.scss
 *
 * CSS framework.
 * ----------------------------------------------------------------------------------------
 */
/* Layout */
/* Header styles */
.l-header {
  padding: 20px 40px;
  color: #fff;
  background: #1f262e; }
  .l-header .logo {
    display: inline-block;
    margin-right: 100px; }
  .l-header .m-header-menu {
    margin: 0;
    display: inline-block; }
    .l-header .m-header-menu li {
      display: inline-block;
      list-style-type: none;
      margin-right: 20px; }
      .l-header .m-header-menu li a {
        color: #fff; }
        .l-header .m-header-menu li a.active {
          height: 100%;
          padding: 33px 10px;
          color: #212d33;
          background-color: #FFFFFF; }
  .l-header .m-userinfo {
    position: absolute;
    top: 20px;
    right: 40px; }
    .l-header .m-userinfo a {
      color: #fff; }
      .l-header .m-userinfo a:hover {
        text-decoration: none; }
    .l-header .m-userinfo .search {
      margin-left: 20px; }

/* Footer styles */
.l-footer {
  bottom: 0;
  height: 250px;
  color: #ffffff;
  padding: 40px;
  margin-top: 50px;
  background-color: #1f262e; }
  .l-footer .cols {
    display: inline-block;
    vertical-align: top;
    margin-right: 138px; }
    .l-footer .cols.m-footer-icon h3 {
      padding: 20px 0 0 10px;
      margin-top: -50px;
      font-weight: normal; }
    .l-footer .cols ul {
      margin: 0; }
      .l-footer .cols ul li {
        list-style-type: none;
        padding: 5px 0; }
        .l-footer .cols ul li a {
          color: #a4a6ab; }

.wrapper {
  width: 100%; }

/* Modules */
.l-contents {
  padding: 0px 50px;
  margin-top: 45px; }
  .l-contents .m-video {
    display: inline-block;
    margin-right: 20px; }
  .l-contents .m-video-details {
    width: 40%;
    display: inline-block;
    vertical-align: top; }

.m-error {
  width: 500px;
  background: #FFF;
  padding: 20px;
  margin: 10% auto;
  border: 1px solid #666;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #CCC; }

/*# sourceMappingURL=styles.css.map */
