/* Footer styles */

.l-footer {
    // position: absolute;
    bottom: 0;
    height: 250px;
    color: #ffffff;
    padding: 40px;
    margin-top: 50px;
    background-color: #1f262e;

    .cols {
        display: inline-block;
        vertical-align: top;
        margin-right: 138px;

        &.m-footer-icon {
            h3 {
                padding: 20px 0 0 10px;
                margin-top: -50px;
                font-weight: normal;
            }
        }

        ul {
            margin: 0;

            li {
                list-style-type: none;
                padding: 5px 0;

                a {
                    color: #a4a6ab;
                }
            }
        }
    }
}
