/* Header styles */

.l-header {
    padding: 20px 40px;
    color: #fff;
    background: #1f262e;

    .logo {
        display: inline-block;
        margin-right: 100px;
    } 

    .m-header-menu {
        margin: 0;
        display: inline-block;

        li {
            display: inline-block;
            list-style-type: none;
            margin-right: 20px;

            a {
                color: #fff;

                &.active {
                    height: 100%;
                    padding: 33px 10px;
                    color: #212d33;
                    background-color: #FFFFFF;
                }
            }
        }
    }

    .m-userinfo {
        position: absolute;
        top: 20px;
        right: 40px;

        a {
            color: #fff;

            &:hover {
                text-decoration: none;
            }
        }
        
        .search {
            margin-left: 20px;
        }
    }
}
